@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  /* blue box roots */
  --box-blue-bg: #4e7e80;
  --box-blue-text: #c3dfe0;
  --small-box-blue-bg: #98b8b9;
  --small-box-blue-text: #214649;
  /* yellow box roots */
  --box-yellow-bg: #bf9257;
  --box-yellow-text: #f9ddb8;
  --small-box-yellow-bg: #e0c096;
  --small-box-yellow-text: #7b5829;
  /* purple box roots */
  --box-purple-bg: #5b6288;
  --box-purple-text: #d8dbf4;
  --small-box-purple-bg: #a0a5c2;
  --small-box-purple-text: #494f72;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  .font-outline-2 {
    color: white;
    background: radial-gradient(#ffbe69ca, #546c7b);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 7px transparent;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

* {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
ul,
span,
#my-names {
  font-family: var(--rocker);
}

h2,
header a {
  font-family: var(--pixel-font);
}

#line {
  height: 3px;
  min-width: 40%;
}

#box {
  padding: 20px 0 0 20px;
  border-radius: 15px;
}

#s-box {
  height: 100%;
  width: 105%;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  padding: 10px;
}

.b1 {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(110, 136, 152, 1) 80%,
    rgba(110, 136, 152, 0) 100%
  );
}

.b2 {
  width: 60%;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(110, 136, 152, 2) 100%
  );
}

.y {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(220, 178, 124, 1) 80%,
    rgba(220, 178, 124, 1) 100%
  );
}

.p {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(121, 132, 190, 1) 80%,
    rgba(121, 132, 190, 1) 100%
  );
}

.clipped {
  padding: 20px;
  width: 320px;
  background: #393433;
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
